@model PaginatedList<Post>

@{
    ViewData["Title"] = "Post Index Page";
}

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" asp-action="Browse" asp-route-sortOrder="date_desc">Newest First</a>
            <a class="dropdown-item" asp-action="Browse" asp-route-sortOrder="date">Oldest First</a>
        </div>
    </div>

    <div class="m-0 p-0" style="text-align:center">

        <div style="max-width:700px; margin:0 auto; display:block;">
        @foreach (var item in Model)
        {
            var photoPath = "~/img/uploads/" + item.PhotoPath;


            <a class="nav-link text-dark m-0 p-0 text-center" asp-area="" asp-controller="Post" asp-action="Inspect" asp-route-id="@item.Id">
                <img class="m-0 p-0" style="width:100%;" src=@photoPath asp-append-version="true" />
            </a>
        }

        </div>

        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           class="btn btn-default @prevDisabled">
            Previous
        </a>
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           class="btn btn-default @nextDisabled">
            Next
        </a>
    
    </div>

